<div class="container">
  <div class="card">
    <div class="card-header bg-primary text-white">
      Edit Product
    </div>
    <div class="card-body" *ngIf="currentProduct">
      <form #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)">
        <div class="form-group">
          <label for="designation">Designation</label>
          <input type="text" class="form-control" id="designation" name="designation" ngModel [(ngModel)]="currentProduct.designation"/>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price" ngModel [(ngModel)]="currentProduct.price"/>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity" ngModel [(ngModel)]="currentProduct.quantity"/>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Update</button>
      </form>
    </div>
  </div>
</div>
